.btn {
    background-color: var(--color-blue);
    padding: 1em 1.5em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    color: white;
    cursor: pointer;
}

.successBox {
    background-color: var(--color-blue-lighter);
    padding: 3em;
    font-size: 1em;
}