.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid{
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.ticketsWrapper{
  padding: 2.5em 4em;
}
